body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	background-color: #F5F5F5;
	line-height: 1.5;
	text-align: left;
	
}

.body {
	margin: 0 auto;
	width: 80%;
	clear: both;
}

.mainheader img {
	width: auto;
	height: auto;
	margin: 5% 0;
}

.mainheader h2 {
    text-align: center;
    font: Arial;
}

.mainheader nav {
	background-color: #B9D3E3;
	height: 35px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
    
.mainheader nav ul {
    margin: 0 auto;
    width: 90%;
    float: left;
    list-style-type: none;
    background: #B9D3E3;
}

.mainheader ul li {
	float: left;
    margin: 0 auto;
}

.mainheader ul li a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 87%;
	line-height: 35px;
	text-transform: uppercase;
	color: #000000;
	text-decoration: none;
	float: left;
	padding-right: 35px;
}

.mainheader nav a:link {
    background:
}

.MainContent GeneralContent {
    background: #FFFAFA;
    float: left;
}
